<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Seleccion de casilla - Paso Seguro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/casilla.css' %}">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="titulo">PASO SEGURO</h1>
        <p class="subtitulo">GESTIÓN DE PASADAS</p>
        <p class="bienvenida">Bienvenido: X</p>
        <div class="mt-4 text-left">
            <h4 class="text-start selector-casilla">Seleccione su casilla:</h4>
            <div class="casillas-box mt-3 p-4 rounded shadow-lg">
                <div class="w-100 d-flex justify-content-start mb-2">
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">1</span></button>
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">2</span></button>
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">3</span></button>
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">4</span></button>
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">5</span></button>
                </div>
                
                <div class="w-100 d-flex justify-content-start">
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">6</span></button>
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">7</span></button>
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">8</span></button>
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">9</span></button>
                    <button class="casilla btn btn-light m-2">Casilla <span class="numero">10</span></button>
                </div>
            </div>
        </div>
    </div>
    
    
    <script>
        const comienzaTurnoUrl = "{% url 'comienza_turno' %}";
    </script>
    <script src="{% static 'js/casilla.js' %}"></script>
</body>
</html>
