<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/obras_en_ejecucion.css' %}">

    <title>Obras en ejecucion - Paso Seguro</title>
</head>
<body>
    <section class="navbar-section" >
        <nav class="navbar">
            <div class="navbar-container">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'img/logo.png' %}" alt="Logo Paso Seguro">
                </a>
                <ul class="nav-links">
                    <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                    <li><a href="{% url 'servicios' %}">Servicio</a></li>
                    <li><a href="{% url 'telepase' %}">Telepase</a></li>
                    <li><a href="{% url 'atencion_al_cliente' %}">Atención al Usuario</a></li>
                </ul>
                <a href="{% url 'login' %}" class="user-icon">
                    <img src="{% static 'img/user.png' %}" alt="Icono de Usuario">
                </a>
            </div>
        </nav>
    </section>
    <section class="hero-section" data-aos="fade-up" data-aos-duration="2000">
        <div class="arriba">
            <img src="{% static 'img/rutaa.png' %}" alt="Imagen de fondo" class="img-arriba">
        </div>
        <div class="title-abajo">
            <h1 class="titulo-abajo">OBRAS EN EJECUCIÓN</h1>
        </div>
    </section>
</body>
</html>