<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/obras.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <title>Obras - Paso Seguro</title>
</head>
<body>
    <section class="navbar-section" >
        <nav class="navbar">
            <div class="navbar-container">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'img/logo.png' %}" alt="Logo Paso Seguro">
                </a>
                <ul class="nav-links">
                    <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                    <li><a href="{% url 'servicios' %}">Servicio</a></li>
                    <li><a href="{% url 'telepase' %}">Telepase</a></li>
                    <li><a href="{% url 'atencion_al_cliente' %}">Atención al Usuario</a></li>
                </ul>
                <a href="{% url 'login' %}" class="user-icon">
                    <img src="{% static 'img/user.png' %}" alt="Icono de Usuario">
                </a>
            </div>
        </nav>
    </section>
</body>
</html>