<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/obras.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <title>Obras - Paso Seguro</title>
</head>
<body>
    <section class="navbar-section" >
        <nav class="navbar">
            <div class="navbar-container">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'img/logo.png' %}" alt="Logo Paso Seguro">
                </a>
                <ul class="nav-links">
                    <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                    <li><a href="{% url 'servicios' %}">Servicio</a></li>
                    <li><a href="{% url 'telepase' %}">Telepase</a></li>
                    <li><a href="{% url 'atencion_al_cliente' %}">Atención al Usuario</a></li>
                </ul>
                <a href="{% url 'login' %}" class="user-icon">
                    <img src="{% static 'img/user.png' %}" alt="Icono de Usuario">
                </a>
            </div>
        </nav>
    </section>
    <section class="hero-section" data-aos="fade-up" data-aos-duration="2000">
        <div class="arriba">
            <img src="{% static 'img/rutaa.png' %}" alt="Imagen de fondo" class="img-arriba">
        </div>
        <div class="title-abajo">
            <h1 class="titulo-abajo">OBRAS</h1>
        </div>
    </section>
    <div class="container1">
        <div class="button" >
            <a href="{% url 'obras2' %}"><img src="{% static 'img/obrase.png' %}" alt="Obras en Ejecución"></a>
            <h2>OBRAS EN EJECUCIÓN</h2>
        </div>
        <div class="button">
            <a href="{% url 'obras1' %}"><img src="{% static 'img/obrasa.png' %}" alt="Obras Ejecutadas"></a>
            <h2>OBRAS EJECUTADAS</h2>
        </div>
    </div>
    <div class="separator" ></div>
        <div></div>
    <footer class="pie-pagina" >
            <div class="container">
                <div class="footer-section">
                    <div class="logo-container">
                        <img src="{% static 'img/logo.png' %}" alt="Logo Paso Seguro" class="logo">
                    </div>
                </div>
                <div class="footer-section">
                    <h3>Información de Contacto</h3>
                    <ul>
                        <li><a href="mailto:info@pasoseguro.com">info@pasoseguro.com</a></li>
                        <li><a href="tel:+1234567890">+123 456 7890</a></li>
                        <li>ITS VILLADA, Cordoba, Argentina</li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Enlaces Rápidos</h3>
                    <ul>
                        <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                        <li><a href="{% url 'servicios' %}">Servicios</a></li>
                        <li><a href="{% url 'telepase' %}">Peaje Dinámico</a></li>
                        <li><a href="{% url 'atencion_al_cliente' %}">Atención al Usuario</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h3>Síguenos</h3>
                    <div class="social-icons">
                        <a href="#"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
                        <a href="#"><img src="{% static 'img/twitter.png' %}" alt="Twitter"></a>
                        <a href="#"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2024 Paso Seguro. Todos los derechos reservados.</small>
            </div>
    </footer>
</body>
</html>