<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/somos.css' %}">
    <title>Quienes somos - Paso Seguro</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'index' %}" class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Logo Paso Seguro">
            </a>
            <ul class="nav-links">
                <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                <li><a href="{% url 'servicios' %}">Servicio</a></li>
                <li><a href="{% url 'peaje_dinamico' %}">Peaje Dinámico</a></li>
                <li><a href="{% url 'atencion_al_cliente' %}">Atención al Usuario</a></li>
            </ul>
            <a href="#" class="user-icon">
                <img src="{% static 'img/user.png' %}" alt="Icono de Usuario">
            </a>
        </div>
    </nav>
    <section class="hero-section" data-aos="fade-up" data-aos-duration="2000">
        <div class="arriba">
            <img src="{% static 'img/rutaa.png' %}" alt="Imagen de fondo" class="img-arriba">
        </div>
        <div class="title-abajo">
            <h1 class="titulo-abajo">QUIENES SOMOS</h1>
        </div>
    </section>

    <section class="info-text" data-aos="zoom-in"data-aos-duration="2000">
        <p>Paso Seguro es la concesionaria de la Red de Accesos a Córdoba (RAC). La RAC está integrada por 10 rutas: Ruta Nacional 20/38, Ruta Provincial 5, Ruta Nacional 36, Ruta Nacional 9 Sur, Autopista Pilar Córdoba, Ruta Nacional 19, Ruta  Nacional 9 Norte, Segundo Anillo de Circunvalación, Ruta Provincial E-53 y Ruta Provincial E-55, más la Avenida de Circunvalación de la ciudad de Córdoba.</p>
    
        <p>Paso Seguro realiza diariamente los trabajos de rehabilitación y mantenimiento de los diez corredores; el patrullaje de las rutas a través de los móviles y personal del Área de Seguridad Vial y el servicio de asistencia a los usuarios a través de grúas y ambulancias, en casos de accidentes.</p>
    </section>
    
    <section class="section-container" data-aos="zoom-in"data-aos-duration="2000">
        <div class="section-content">
            <h2 class="section-title">VALORES</h2>
            <p class="section-text">
                En Paso Seguro trabajamos en equipo, en un ambiente proactivo  basado en el respeto y compromiso con el objetivo primordial de brindar un buen servicio a los usuarios que circulan por nuestras rutas.
            </p>
        </div>
        <div class="section-image-container">
            <img src="{% static 'img/ft1.png' %}" alt="Descripción de la imagen" class="section-image">
        </div>
    </section>

    <section class="section-left-container" data-aos="zoom-in"data-aos-duration="2000">
        <div class="section-left-content">
            <h2 class="section-left-title">Política de Calidad</h2>
            <p class="section-left-text">
                Paso Seguro SA ha decidido la implementación de un Sistema de Gestión de la Calidad (SGC) cumpliendo los requisitos de la norma ISO 9001:2015, y marcando un claro objetivo de satisfacer las necesidades y expectativas de usuarios y otras partes interesadas.
            </p>
            <p class="section-left-text">
                Es por esto que establece su Política del SGC, orientada a brindar un servicio conforme y confiable, de modo de lograr:
            </p>
            <ul class="section-left-text">
                <li>El cumplimiento de los requisitos legales establecidos en el decreto de concesión N° 1598/97 de la Red de Accesos a la ciudad de Córdoba, y su modificación de acuerdo al artículo 3° de la Ley N°10635/19.</li>
                <li>La atención adecuada de todos los colaboradores hacia los usuarios del servicio.</li>
                <li>La infraestructura apropiada en todas las instalaciones donde se presta el servicio.</li>
                <li>Eficaz respuesta a todos los aspectos relativos a la seguridad vial.</li>
                <li>La correcta facturación y cobranza de los servicios prestados.</li>
                <li>El contacto con los usuarios mediante los diferentes canales de información y comunicación.</li>
                <li>La optimización permanente de sus servicios para lograr un tránsito fluido por la Red de Accesos a Córdoba.</li>
            </ul>
            <p class="section-left-text">
                Para ello, la Dirección se compromete a liderar la implementación y el mantenimiento del SGC, y a aportar los recursos necesarios para un crecimiento sostenido y sustentable de sus actividades, y para la mejora continua de su eficacia.
            </p>
            <p class="section-left-text">
                <strong>Fecha de vigencia: Julio 2023</strong>
            </p>
        </div>
        <div class="section-left-image-container">
            <img src="{% static 'img/ft2.png' %}" alt="Descripción de la imagen 2" class="section-left-image">
        </div>
    </section>
    <div class="separator" ></div>
    
    <footer class="pie-pagina" >
        <div class="container">
            <div class="footer-section">
                <div class="logo-container">
                    <img src="{% static 'img/logo.png' %}" alt="Logo Paso Seguro" class="logo">
                </div>
            </div>
            <div class="footer-section">
                <h3>Información de Contacto</h3>
                <ul>
                    <li><a href="mailto:info@pasoseguro.com">info@pasoseguro.com</a></li>
                    <li><a href="tel:+1234567890">+123 456 7890</a></li>
                    <li>ITS VILLADA, Cordoba, Argentina</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                    <li><a href="{% url 'servicios' %}">Servicios</a></li>
                    <li><a href="{% url 'peaje_dinamico' %}">Peaje Dinámico</a></li>
                    <li><a href="{% url 'atencion_al_cliente' %}">Atención al Usuario</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a href="#"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
                    <a href="#"><img src="{% static 'img/twitter.png' %}" alt="Twitter"></a>
                    <a href="#"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 Paso Seguro. Todos los derechos reservados.</small>
        </div>
    </footer>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>