<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/somos.css' %}">
    <title>Quienes somos - Paso Seguro</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="{% url 'index' %}" class="logo">
                <img src="{% static 'img/logo.png' %}" alt="Logo Paso Seguro">
            </a>
            <ul class="nav-links">
                <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                <li><a href="{% url 'servicios' %}">Servicio</a></li>
                <li><a href="{% url 'peaje_dinamico' %}">Peaje Dinámico</a></li>
                <li><a href="{% url 'atencion_al_cliente' %}">Atención al Usuario</a></li>
            </ul>
            <a href="#" class="user-icon">
                <img src="{% static 'img/user.png' %}" alt="Icono de Usuario">
            </a>
        </div>
    </nav>
    <section class="about-us">
        <div class="curved-image">
            <img src="{% static 'img/fondo.png' %}" alt="Puente">
        </div>
        <div class="content">
            <h1>Quiénes Somos</h1>
            <p>
                Caminos de las Sierras es la concesionaria de la Red de Accesos a Córdoba (RAC). La RAC está integrada por 10 rutas: Ruta Nacional 20/38, Ruta Provincial 5, Ruta Nacional 36, Ruta Nacional 9 Sur, Autopista Pilar Córdoba, Ruta Nacional 19, Ruta Nacional 9 Norte, Segundo Anillo de Circunvalación, Ruta Provincial E-53 y Ruta Provincial E-55, más la Avenida de Circunvalación de la ciudad de Córdoba.
            </p>
            <p>
                Caminos de las Sierras realiza diariamente los trabajos de rehabilitación y mantenimiento de los diez corredores; el patrullaje de las rutas a través de los móviles y personal del Área de Seguridad Vial y el servicio de asistencia a los usuarios a través de grúas y ambulancias, en casos de accidentes.
            </p>
        </div>
    </section>
</body>
</html>
