<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="icon" href="{% static 'img/registro.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <style></style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style></style>
    <title>Registrarse - Peaje Seguro</title>
</head>
<body>
    <section class="navbar-section" >
        <nav class="navbar">
            <div class="navbar-container">
                <a href="{% url 'index' %}" class="logo">
                    <img src="{% static 'img/logo.png' %}" alt="Logo Paso Seguro">
                </a>
                <ul class="nav-links">
                    <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                    <li><a href="{% url 'servicios' %}">Servicio</a></li>
                    <li><a href="{% url 'peaje_dinamico' %}">Peaje Dinámico</a></li>
                    <li><a href="{% url 'atencion_al_cliente' %}">Atención al Usuario</a></li>
                </ul>
                <a href="{% url 'login' %}" class="user-icon">
                    <img src="{% static 'img/user.png' %}" alt="Icono de Usuario">
                </a>
            </div>
        </nav>
    </section>
    <section class="main-section">
        <div class="main-container">
            <div class="title-container" >
                <h1>REGISTRATE</h1>
            </div>
            <div class="form-container" >
                <div class="info-box">
                    Recordá que si ya completaste estos datos alguna vez y/o diste de alta un vehículo anteriormente podés 
                    <strong><a href="{% url 'recuperar_contrasena' %}">recuperar tu contraseña desde aquí.</a></strong>
                </div>
                <form class="registration-form">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="tipoDocumento">Tipo de Documento</label>
                            <select id="tipoDocumento" >
                                <option value="">Seleccione</option>
                                <option value="">DNI</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="numeroDocumento">Número de Documento</label>
                            <input type="text" id="numeroDocumento">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="condicionFiscal">Condición Fiscal</label>
                            <select id="condicionFiscal">
                                <option value="">Seleccione</option>
                                <option value="">Responsable Inscripto</option>
                                <option value="">Consumidor Final</option>
                                <option value="">Exento</option>
                                <option value="">No Responsable</option>
                                <option value="">Consumidor Final</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="correoElectronico">Correo electrónico</label>
                            <input type="email" id="correoElectronico">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="telefono">Teléfono particular</label>
                            <input type="text" id="telefono">
                        </div>
                        <div class="form-group">
                            <label for="calle">Calle</label>
                            <input type="text" id="calle">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="nroCalle">Nro. Calle</label>
                            <input type="text" id="nroCalle">
                        </div>
                        <div class="form-group">
                            <label for="piso">Piso</label>
                            <input type="text" id="piso">
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="departamento">Departamento</label>
                            <input type="text" id="departamento">
                        </div>
                        <div class="form-group">
                            <label for="provincia">Provincia</label>
                            <select id="provincia">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="localidad">Localidad</label>
                            <select id="localidad">
                                <option value="">Seleccione</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="codigoPostal">Código Postal</label>
                            <input type="text" id="codigoPostal">
                        </div>
                    </div>
                    
                    <button type="submit" class="btn">Registrarme</button>
                <script src="{% static 'js/registro.js' %}"></script>
                </form>
            </div>
        </div>
    </section>
    <div class="separator" ></div>
    <div></div>
    <footer class="pie-pagina" >
        <div class="container">
            <div class="footer-section">
                <div class="logo-container">
                    <img src="{% static 'img/logo.png' %}" alt="Logo Paso Seguro" class="logo">
                </div>
            </div>
            <div class="footer-section">
                <h3>Información de Contacto</h3>
                <ul>
                    <li><a href="mailto:info@pasoseguro.com">info@pasoseguro.com</a></li>
                    <li><a href="tel:+1234567890">+123 456 7890</a></li>
                    <li>ITS VILLADA, Cordoba, Argentina</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Enlaces Rápidos</h3>
                <ul>
                    <li><a href="{% url 'quienes_somos' %}">Quienes Somos</a></li>
                    <li><a href="{% url 'servicios' %}">Servicios</a></li>
                    <li><a href="{% url 'peaje_dinamico' %}">Peaje Dinámico</a></li>
                    <li><a href="{% url 'atencion_al_cliente' %}">Atención al Usuario</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Síguenos</h3>
                <div class="social-icons">
                    <a href="#"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
                    <a href="#"><img src="{% static 'img/twitter.png' %}" alt="Twitter"></a>
                    <a href="#"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2024 Paso Seguro. Todos los derechos reservados.</small>
        </div>
    </footer>
    
    
</body>
</html>