body {
    font-family: 'Segoe UI', sans-serif;
}

.bg-custom {
    background-color: #DCD4D4;
}

.titulo {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.subtitulo {
    font-size: 2.5rem;
    font-style: italic;
    color: #333;
    margin-bottom: 2.5rem;
}

.login-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 500px; /* Aumentado el tamaño del cuadro de login */
    width: 100%;
}

.form-control, .form-select {
    border: 2px solid #ccc;
    padding: 1rem; /* Aumentado el padding de los campos de entrada */
    border-radius: 5px;
    font-size: 1.1rem; /* Aumentado el tamaño del texto */
}

.form-control:focus, .form-select:focus {
    border-color: #2cdf53;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.btn-primary {
    background-color: #48d448;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.9rem 1.2rem; /* Aumentado el tamaño del botón */
}

.btn-primary:hover {
    background-color: #149108;
}

.btn-lg {
    padding: 1rem 1.5rem; /* Aumentado el padding del botón */
}
