<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Seleccion de casilla - Paso Seguro</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/casilla.css' %}">
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="titulo">PASO SEGURO</h1>
        <p class="subtitulo">GESTIÓN DE PASADAS</p>
        <p class="bienvenida">Bienvenido: {{ request.session.nombre }} {{ request.session.apellido }}</p>
        <div class="mt-4 text-left">
            <h4 class="text-start selector-casilla">Seleccione su casilla:</h4>
            <div class="casillas-box mt-3 p-4 rounded shadow-lg">
                <div class="w-100 d-flex justify-content-start mb-2">
                    <button class="casilla btn btn-light m-2" data-casilla="1">Casilla <span class="numero">1</span></button>
                    <button class="casilla btn btn-light m-2" data-casilla="2">Casilla <span class="numero">2</span></button>
                    <button class="casilla btn btn-light m-2" data-casilla="3">Casilla <span class="numero">3</span></button>
                    <button class="casilla btn btn-light m-2" data-casilla="4">Casilla <span class="numero">4</span></button>
                    <button class="casilla btn btn-light m-2" data-casilla="5">Casilla <span class="numero">5</span></button>
                </div>
                
                <div class="w-100 d-flex justify-content-start">
                    <button class="casilla btn btn-light m-2" data-casilla="6">Casilla <span class="numero">6</span></button>
                    <button class="casilla btn btn-light m-2" data-casilla="7">Casilla <span class="numero">7</span></button>
                    <button class="casilla btn btn-light m-2" data-casilla="8">Casilla <span class="numero">8</span></button>
                    <button class="casilla btn btn-light m-2" data-casilla="9">Casilla <span class="numero">9</span></button>
                    <button class="casilla btn btn-light m-2" data-casilla="10">Casilla <span class="numero">10</span></button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.querySelectorAll('.casilla').forEach(function (button) {
            button.addEventListener('click', function () {
                const numeroCasilla = this.getAttribute('data-casilla'); 
                const csrfToken = '{{ csrf_token }}';

                
                fetch('{% url "casilla" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': csrfToken
                    },
                    body: `numero_casilla=${numeroCasilla}`
                })
                .then(response => {
                    if (response.ok) {
                        
                        location.href = '{% url "comienza_turno" %}';
                    } else {
                        throw new Error('Error en la petición');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
    
</body>
</html>
