body {
    background-color: #e0dddd;
}

h1 {
    color: #333;
    font-size: 5rem; 
    font-weight: bold;
}

h3 {
    color: #666;
    font-size: 3rem; 
    font-style: italic;
}
.row.text-center.my-4:nth-child(2) {
    margin-top: 30px; 
}

.box {
    height: 150px; 
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem; 
    cursor: pointer;
}

.box i {
    font-size: 2.5rem; 
    margin-bottom: 10px;
}

.btn-warning {
    background-color: #ff7f50;
    border-color: #ff7f50;
    font-size: 1.4rem; 
    padding: 10px 20px;
}

.btn-danger {
    background-color: #ff5c5c;
    border-color: #ff5c5c;
    font-size: 1.4rem; 
    padding: 10px 20px;
}


#vehicleType, #vehiclePrice {
    font-weight: bold;
    color: #333;
}

.message-success {
    color: green;
    font-weight: bold;
    margin-top: 10px;
    animation: fadeOut 2s 3s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
.text-large {
    font-size: 1.5rem; 
}
